<div class="modal-header">
	<h4 class="modal-title">{{task}}</h4>
	<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<form ngNativeValidate>
	<div class="modal-body">
		<div *ngIf="task=='Sign Up'" class="form-group">
			<label for="username">Username:</label>
			<input [(ngModel)]="username" type="text" class="form-control" name="username" required>
		</div>
		<div class="form-group">
			<label for="email">Email address:</label>
			<input [(ngModel)]="email" type="email" class="form-control" name="email" required>
		</div>
		<div class="form-group">
			<label for="pwd">Password:</label>
			<input [(ngModel)]="password" type="password" class="form-control" name="password" required>
		</div>
		<span *ngIf="task=='Sign Up'">Already have an account? <a (click)=switchTasks() href="#">Login</a></span>
		<span *ngIf="task=='Login'">Need to create an account? <a (click)=switchTasks() href="#">Sign Up</a></span>
	</div>

	<div class="modal-footer">
		<button type="submit" class="btn btn-primary" (click)=submitTask()>{{task}}</button>
	</div>
</form>
