<!-- Modal Header -->
<div class="modal-header">
	<h4 class="modal-title">{{task}}</h4>
	<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
	<form>
		<div *ngIf="task=='Sign Up'"class="form-group">
			<label for="username">Username:</label>
			<input type="text" class="form-control" id="username">
		</div>
		<div class="form-group">
			<label for="email">Email address:</label>
			<input type="email" class="form-control" id="email">
		</div>
		<div class="form-group">
			<label for="pwd">Password:</label>
			<input type="password" class="form-control" id="pwd">
		</div>
		Already have an account? <a href="#">Login</a>
	</form>
</div>

<!-- Modal footer -->
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-dismiss="modal">{{task}}</button>
</div>
