<nav class="navbar navbar-expand bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Reedit</a>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" (click)="submitPost()" href="#"><span class="oi oi-pencil"></span> Submit Post</a>
    </li>
    <li *ngIf="!currentUser" class="nav-item">
      <a class="nav-link" data-toggle="modal" data-target="#signIn" href="#"><span class="oi oi-account-login"></span> Sign Up</a>
    </li>
    <li *ngIf="currentUser"class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        <span class="oi oi-person"></span> {{currentUser}}
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#"><span class="oi oi-book"></span> My Posts</a>
        <a class="dropdown-item" (click)="logout()" href="#"><span class="oi oi-account-logout"></span> Logout</a>
      </div>
    </li>
  </ul>

</nav>

<div class="modal fade" id="signIn">
  <div class="modal-dialog">
    <div class="modal-content">
      <app-sign-in (authenticated)="onAuthenticated($event)"></app-sign-in>

    </div>
  </div>
</div>

<div class="modal fade" id="submitPost">
  <div class="modal-dialog">
    <div class="modal-content">
      <app-submit-post (submitted)="onSubmitted($event)"></app-submit-post>
    </div>
  </div>
</div>

<div class="container-fluid">
  <ul class="list-group">
    <li *ngFor="let post of posts  | async | reverse" class="list-group-item">
      <div class="row">
        <div class="col-1">
          <div class="text-center">
            <a (click)="upvote(post)" class="text-muted">
              <span *ngIf="upvoteIsColored[post.key]" class="oi oi-arrow-thick-top text-primary"></span>
              <span *ngIf="!upvoteIsColored[post.key]" class="oi oi-arrow-thick-top"></span>
            </a>
            <p><b>{{post.payload.val().upvotes}}</b></p>
          </div>
        </div>
        <div class="col-11">
          <a href="{{post.payload.val().link}}" target="_blank">{{post.payload.val().title}}</a>
          <p class="text-muted">2 minutes ago by {{post.payload.val().submittedBy}}</p>
        </div>
      </div>
    </li>
  </ul>
</div>
